@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
  transition: all 0.3s;
  --tw-ring-color:transparent !important;
  

}







ul {
  list-style: none;
  margin-bottom: 0 !important;
}

a {
  color: inherit !important;
  text-decoration: none;
}

.ant-carousel .slick-dots {
  margin-left: 0 !important;
}

.slick-list .slick-track {
  margin-right: 0 !important;
}

.slick-prev:before, .slick-next:before {
   color:#753BBD !important;
   font-size:2rem !important;
 
  
} 

@media screen and (max-width: 720px){
  .slick-next {
    display: none!important;
  }
  
}
.slick-prev {
  transform: translate(-80px, -50%) !important;
  left: 40px !important;
}


:root {
  --color-main1: #753BBD;
}


